@charset "UTF-8";

/* Typical Device BreakPoint
-----------------------------
Pequenas telas: até 600px 
Celular: 601 a 700px
Tablet: 701px a 768px
pc: 769px a 1279px
Grandes telas: > 1280px
-----------------------------
*/
@media screen and (min-width: 701px) and (max-width: 890px){
    body {
        background-image: linear-gradient(to top,  blueviolet, green  )
    }
    
    section#login {
        width: 80%;
    }

    section#login > div#imagem {
        float: left;
        width: 30%;
        height: 100%;
    }

    section#login > div#formulario {
        float: right;
        width: 70%;
        height: 100vw;
    }
    }
@media screen and (min-width: 900px) {
    
    body {
        background-image: linear-gradient(to top,  blueviolet, green)
    }

    section#login {
        width: 900px;
        
    }

    section#login > div#imagem {
        float: left;
        width: 50%;
        height: 100%;
    }
    section#login > div#formulario {
        float: right;
        width: 50%;
    
    }
}

